/* Language top bar */
#select-language {
    margin-top: 10px;
}
#select-language ul {
    list-style-type: none;
    padding: 0;
}
#select-language ul li {
    display: inline-block;
}
#select-language ul li+li {
    margin-left: 20px;
}

/* Sidebar customization */
.sidebar {
    padding: 0 1rem;
}

.sidebar-about h1 {
    display: block;
    margin: 0 0 -1rem -0.5rem;
    width:200px
}

.sidebar-about h1 center a img {
    margin: 0;
    border-radius: 0;
    width: auto;
}

.lead {
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding: 1rem 0 1rem 0;
}





.container.sidebar-sticky > p {
    font-size: 0.7rem;
    padding-top: 2rem;
}
