#select-language {
    margin-top: 10px;
}
#select-language ul {
    list-style-type: none;
    padding: 0;
}
#select-language ul li {
    display: inline-block;
}
#select-language ul li+li {
    margin-left: 10px;
}