/* Language top bar */
#select-language {
    margin-top: 20px;
    font-size: 0.7em;
    color: white;
}
#select-language ul {
    list-style-type: none;
    padding: 0;
}
#select-language ul li {
    display: inline-block;
    padding: 0 5px;
}

/* Sidebar customization */
.sidebar {
    padding: 0 1rem;
}

.sidebar-about h1 {
    display: block;
    margin: 0 auto -1rem auto;
    width:200px
}

.sidebar-about h1 center a img {
    margin: 0;
    border-radius: 0;
    width: auto;
}

.lead {
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
}





.container.sidebar-sticky > p {
    font-size: 0.7rem;
    padding: 2rem 0;
}




/* small devices */
@media (min-width: 48em) {
    .lead {
        line-height: 1.2rem;
    }
}

@media (max-width: 48em) {
    .sidebar-about h1 {
        margin: 0 auto;
    }
}
