html, body {
    height: 100%;
}

body {
    background-color: #eee;
}

#main-container {
    position: relative;
    overflow: hidden;
    background-color: white;
}

main a {
  color: #ac4142;
}

/* Header */
header {
    background-color: #ac4142;
    box-shadow: 0 3px 4px -1px rgba(0,0,0,0.25);
    padding-bottom: 10px;
    z-index: 10;
    position: relative;
}
header, header a {
    color: white;
}

.meta-links {
    display: flex;
    font-size: 0.8em;
}

.external-links {
    width: 40%;
}

.localization-links {
    text-align: right;
    width: 60%;
}

.meta-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.meta-links ul li {
    display: inline-block;
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: -1px;
}

.meta-links ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    padding: 3px 10px;
}

.meta-links ul li a:hover {
    background-color: #d67272;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#title {
    text-align: center;
}

#title h1 {
    font-family: serif;
}

#title h1 img {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    margin: 0;
}
#title h1 a:hover {
    text-decoration: none;
}

#title .description {
    font-size: 0.9em;
    color: #ddd;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li+li {
    margin-left: 20px;
}

/* Index cards */
.cards {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.cards .card {
    display: inline-block;
    flex: 0.4;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    overflow: hidden;
}
.cards .card+.card {
    margin-left: 15px;
}
.cards+.cards {
    margin-top: 15px;
}
.cards .card .card-main {
    display: block;
    padding: 5px 15px;
    color: inherit !important;
}
.cards .card .card-main:hover {
    text-decoration: none;
    background-color: #f1f1f1;
}
.cards .card img {
    width: 80px;
    margin: 0 auto 10px;
}
.cards .card .project {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.cards .card ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.cards .card ul {
    border-top: 1px solid #ccc;
}
.cards .card ul a {
    color: #777;
}
#cards-secondary .project {
    font-size: 1.1em;
}
#cards-secondary .card-main {
    height: 100%;
}

#history, #history td {
    border: none;
}
#history tr+tr {
    border-top: 1px solid #e5e5e5;
}
#history td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#history tbody tr:nth-child(odd) td, #history tbody tr:nth-child(odd) th {
    background-color: inherit;
}
#history td:first-child {
    font-size: 0.8em;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    text-align: right;
    padding-right: 0.8rem;
}

.pretrained tbody tr:nth-child(odd) td, .pretrained tbody tr:nth-child(odd) th {
    background-color: inherit;
}
.pretrained td {
    font-size: 0.9em;
}
.pretrained td:first-child {
    width: 25%;
    white-space: nowrap;
    font-weight: bold;
    background-color: #f9f9f9 !important;
    vertical-align: top;
}

/* Footer */
footer {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    font-size: 0.8em;
    text-align: center;
}
footer img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#quick-links, #quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#quick-links > li {
    display: inline-block;
}
#quick-links > li+li {
    margin-left: 15%;
}
#quick-links a {
    color: inherit;
}
#quick-links ul {
    text-align: left;
}
