<header>
  <div class="container">
    <div class="meta-links">
      <div class="external-links">
        <ul>
          <li><a href="http://forum.opennmt.net">Forum</a></li>
          <li><a href="https://github.com/OpenNMT">GitHub</a></li>
        </ul>
      </div>
      <div class="localization-links">
        <ul>
          <li><a onclick="document.cookie = 'systran_target_language=' + 'en' + ';path=/'; location.reload();" href="#">English</a></li>
          <li><a onclick="document.cookie = 'systran_target_language=' + 'fr' + ';path=/'; location.reload();" href="#">Français</a></li>
          <li><a onclick="document.cookie = 'systran_target_language=' + 'zh' + ';path=/'; location.reload();" href="#">汉语</a></li>
        </ul>
      </div>
    </div>

    <div id="title">
      <h1 id="title-open-nmt">
        <a href="{{ site.baseurl }}">
          <img src="/public/o-nmt-icons/logo-nmt-500-alpha.png">
          {{ site.title }}
        </a>
      </h1>
      <p class="description">{{ site.description }}</p>
    </div>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/FAQ">FAQ</a></li>
        <li><a href="/publications">Publications</a></li>
      </ul>
    </nav>
  </div>
</header>
