<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="systranlinks-validation" content="9305647d7bc2233a01851af4b35b09c7" >
  <script src="/public/widget-build.js"></script>
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} - {{ site.tagline }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
{% include analytics.html %}
  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/general.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->

<link rel="apple-touch-icon" sizes="57x57" href="/public/o-nmt-icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/public/o-nmt-icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/public/o-nmt-icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/o-nmt-icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/public/o-nmt-icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/o-nmt-icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/public/o-nmt-icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/o-nmt-icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/public/o-nmt-icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/public/o-nmt-icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/o-nmt-icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/public/o-nmt-icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/o-nmt-icons/favicon-16x16.png">
<link rel="manifest" href="/public/o-nmt-icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/public/o-nmt-icons/ms-icon-144x144.png">

</head>
