<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <center>
        <a href="{{ site.baseurl }}">
          <img width="70%" src="/public/o-nmt-icons/logo-nmt-500-alpha.png">
        </a>
        </center>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

            <div id="select-language">
      <ul>
        <li><a href="http://opennmt.net">English</a></li>
        <li><a href="http://fr.opennmt.net">Français</a></li>
        <li><a href="http://zh.opennmt.net">简体中文</a></li>
        <li><a href="http://ko.opennmt.net">한국어</a></li>
        <li><a href="http://ja.opennmt.net">日本語</a></li>
        <li><a href="http://ru.opennmt.net">Русский</a></li>
        <li><a href="http://ar.opennmt.net">العربية</a></li>
      </ul>
    </div>
    
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>
      <a class="sidebar-nav-item" href="/about">About</a>
      <a class="sidebar-nav-item" href="/FAQ">FAQ</a>
      <a class="sidebar-nav-item" href="http://forum.opennmt.net/">Forum</a>
      <a class="sidebar-nav-item" href="https://demo-pnmt.systran.net">Live system</a>
      Torch
      <ul>
        <li><a href="https://github.com/OpenNMT/OpenNMT">Code</a></li>
        <li><a href="http://opennmt.net/OpenNMT">Documentation</a></li>
        <li><a href="/Models">Pretrained models</a></li>
      </ul>
      PyTorch
      <ul>
        <li><a href="https://github.com/OpenNMT/OpenNMT-py">Code</a></li>
        <li><a href="http://opennmt.net/OpenNMT-py">Documentation</a></li>
        <li><a href="/Models-py">Pretrained models</a></li>
      </ul>
      TensorFlow
      <ul>
        <li><a href="https://github.com/OpenNMT/OpenNMT-tf">Code</a></li>
        <li><a href="http://opennmt.net/OpenNMT-tf">Documentation</a></li>
      </ul>
    </nav>


    
    <p>&copy; {{ site.time | date: '%Y' }}. <a href="http://twitter.com/harvardnlp/">@harvardnlp</a> All rights reserved.</p>


  </div>
</div>
