---
layout: default
---

<!-- DNT -->
<div id="select-language">
  <ul>
    <li><a href="http://opennmt.net">English</a></li>
    <li><a href="http://fr.opennmt.net">Français</a></li>
    <li><a href="http://zh.opennmt.net">简体中文</a></li>
    <li><a href="http://ko.opennmt.net">한국어</a></li>
    <li><a href="http://ja.opennmt.net">日本語</a></li>
    <li><a href="http://ru.opennmt.net">Русский</a></li>
  </ul>
</div>
<!-- /DNT -->

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
